[package]
name = "libkyber-ffi-sys"
version = "0.1.0"
edition = "2021"
links = "kyber-ffi"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[build-dependencies]
cc = "1.0"

[profile.release]
opt-level = 3

